{%- if filter_type == 'vertical' -%}
  {{ 'solar-price-slider.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'solar-price-slider.js' | asset_url }}" defer="defer"></script>
  <price-range-slider
    class="solar-price-slider"
    data-max="{{ filter.range_max | money_without_currency }}"
    data-from-id="{{ id_prefix }}{{ filter.label | escape }}-GTE"
    data-to-id="{{ id_prefix }}{{ filter.label | escape }}-LTE"
    data-currency="{{ cart.currency.iso_code }}"
  >
    <div class="solar-price-slider__track-wrap">
      <div class="solar-price-slider__track"></div>
      <div class="solar-price-slider__range" data-track-range></div>
      <input type="range" min="0" step="1" data-range-min aria-label="{{ 'products.facets.from' | t }}">
      <input type="range" min="0" step="1" data-range-max aria-label="{{ 'products.facets.to' | t }}">
    </div>
    <div class="solar-price-slider__values">
      <span data-value-min></span>
      <span data-value-max></span>
    </div>
  </price-range-slider>
{%- endif -%}

<span class="field-currency">{{ cart.currency.symbol }}</span>

<div class="field">
  <input
    class="field__input"
    name="{{ filter.min_value.param_name }}"
    id="{{ id_prefix }}{{ filter.label | escape }}-GTE"
    {%- if filter.min_value.value -%}
      value="{{ filter.min_value.value | money_without_currency }}"
    {%- endif -%}
    type="text"
    inputmode="decimal"
    placeholder="0"
    data-pattern="\d| |,|\."
    data-min="0"
    data-max="{{ filter.range_max | money_without_currency }}"
  >
  <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-GTE">
    {{- 'products.facets.from' | t -}}
  </label>
</div>

{%- if filter_type != 'vertical' -%}
  <span class="field-currency">{{ cart.currency.symbol }}</span>
{%- endif -%}

<div class="field">
  <input
    class="field__input"
    name="{{ filter.max_value.param_name }}"
    id="{{ id_prefix }}{{ filter.label | escape }}-LTE"
    {%- if filter.max_value.value -%}
      value="{{ filter.max_value.value | money_without_currency }}"
    {%- endif -%}
    type="text"
    inputmode="decimal"
    placeholder="{{ filter.range_max | money_without_currency }}"
    data-pattern="\d| |,|\."
    data-min="0"
    data-max="{{ filter.range_max | money_without_currency }}"
  >
  <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-LTE">
    {{- 'products.facets.to' | t -}}
  </label>
</div>
